# Ignore binaries
/bin
/dist

# Ignore files created for testing
/test-*.yaml
/hosts.yaml

# Generated go-test coverage reports
coverprofiles/
coverprofile.out

# Ignore bootstrap dist files
/bootstrap-*

# Ignore fyne build files
fyne_metadata_init.go
/cmd/gui/FyneApp.toml

# Ignore android files
/.idea
/netrouse.iml
