<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <title>NetRouse</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Wake Lan" />
    <link rel="manifest" href="/icons/site.webmanifest" />

    {{if not $.Readonly}}
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    {{end}}
    <script type="text/javascript" src="/js/client.js"></script>
    <script type="text/javascript" src="/js/theme.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-center mt-3">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div id="alertPlaceholder"></div>
                <div class="card shadow-lg">
                    <h2 class="card-title mb-0 mt-2">Your Devices</h2>
                    <div class="card-body">
                        <ul class="list-group">
                            {{range $.Hosts}}
                            <li class="list-group-item shadow">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="fs-4 fw-bold" id="{{.MAC}}.Name">{{.Name}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="fs-6 p-2" id="{{.MAC}}.MAC">{{.MAC}}</p>
                                    </div>
                                </div>
                                {{if .Address}}
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="fs-6 fw-light" id="{{.MAC}}.Address">🔴 {{.Address}}</p>
                                    </div>
                                </div>
                                {{end}}
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-primary w-100" id="{{.MAC}}.Button" onclick="wake('{{.MAC}}', '{{.Name}}');" aria-label="Wake {{.Name}}">Wake</button>
                                    </div>
                                    {{if not $.Readonly}}
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-danger w-100" onclick="deleteHost('{{.MAC}}', '{{.Name}}');" aria-label="Delete {{.Name}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                            </svg>
                                        </button>
                                    </div>
                                    {{end}}
                                </div>
                            </li>
                            {{end}}
                            <li class="list-group-item shadow">
                                <form class="form-floating mb-3 needs-validation" id="custom-mac-form" onsubmit="wakeCustom(); return false;">
                                    <input type="text" class="form-control" id="custom-mac-input" placeholder="Custom MAC" required aria-label="Enter custom MAC address" oninput="formatAndValidateMAC(this)">
                                    <label for="custom-mac-input">Custom MAC</label>
                                </form>
                                <div class="row">
                                    <button type="submit" form="custom-mac-form" class="btn btn-primary" aria-label="Send Magic packet">Wake</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {{if not $.Readonly}}
                    <div class="container">
                        <button type="button" class="btn btn-success mb-3" onclick="showAddHostModal();" aria-label="Add a new host">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                            </svg> Add Host
                        </button>
                    </div>
                    {{end}}
                    <div class="card-footer text-muted">
                        <p class="text-muted justify-content-between text-center">
                            <span>{{.Name}}</span>
                            <span class="mx-2">-</span>
                            <span>{{.Version}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>

    {{if not $.Readonly}}
    <!-- Add Host Modal -->
    <div class="modal fade" id="addHostModal" tabindex="-1" role="dialog" aria-labelledby="addHostModalTitle" aria-describedby="addHostModalBody">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addHostModalTitle">Add New Host</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close dialog"></button>
                </div>
                <form id="addHostForm" class="needs-validation" onsubmit="addHost(); return false;">
                    <div class="modal-body" id="addHostModalBody">
                        <div class="mb-3">
                            <label for="hostName" class="form-label">Host Name</label>
                            <input type="text" class="form-control" id="hostName" required aria-label="The name of the new host" oninput="validateHostname(this)">
                        </div>
                        <div class="mb-3">
                            <label for="macAddress" class="form-label">MAC Address</label>
                            <input type="text" class="form-control" id="macAddress" required aria-label="The MAC address of the new host" oninput="formatAndValidateMAC(this)">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address (Optional)</label>
                            <input type="text" class="form-control" id="address" aria-label="(Optional) Address of the host to check if it is online">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close dialog">Close</button>
                        <button type="submit" class="btn btn-primary" aria-label="Add Host">Add Host</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{end}}
</body>

</html>
